*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  background: #111;
  color: #fff;
  font-family: system-ui, sans-serif;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100%;
}
